*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 18px;
}
body {
  background-color: #f0f0f0;
  font-family: "Roboto" sans-serif;
}
a{
  font-family: "Roboto" sans-serif;
  text-decoration: none;
}


/* header */
.heading {
  background-color: #202329;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  color: #ffffff;
}
.heading-input{
  background-color: #3D3F45;
  border-radius: 5px;
  /* outline: 1px solid #fff; */
  border: none;
  padding: 5px 10px;
  width: 200px;
  color: #fff;
}
.heading-link{
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 10px;
}

/* Content */
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* main menu */
.main-menu{
  height: 100vh;
  width: 15%;
  background-color: #cecece;
}
.navbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.navbar a{
  width: 100%;
  color: #000;
  padding: 20px 25px;
  text-align: center;
}
.navbar a:hover{
  background-color: #C4C4C4;
  font-weight: 500;
}




/* not found */
.notfound{
  display: flex;
  justify-content: center;
  align-items: center;
}
.notfound-title{
  font-size: 60px;
  text-align: center;
}




/* Main Window */
.main-window{
  width: 85%;
  height: 100vh;
  padding: 50px 100px;

}